/* header */
body {
    font-weight: 300;
    margin: 0 auto;
}

.header {
    height: 80vh;

}

.buttom-anchor {
    position: absolute;
    left: 150px;
    z-index: 2;
}

.buttom-anchor {
    /* 2 */
    display: flex;
    width: 15rem;
    height: 3.75rem;
    text-decoration: none;
}

.buttom {
    display: flex;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 16px;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    font-weight: 600;
    letter-spacing: 0.375rem;
    background-color: #151515;
    border: none;
    color: white;
    width: calc(100% - 2.5rem);
    justify-content: center;
    align-items: center;

}

.buttom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5966C;
    width: 2.5rem;
}

.buttom-arrow img {
    width: 0.625rem;
    height: 1.5rem;
}


.buttom-anchor:hover .buttom {
    background-color: #D5966C;
}

.buttom-anchor:hover .buttom-arrow {
    background-color: #151515;
}

.map {
    background-image: url(./starter-code/assets/desktop/image-map@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    z-index: 1;
    border: solid 1px #151515;
}


/*nest hub and laptop 1024px*/
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .header {
        height: 60vh;
    }

}

/*iphone xr and cellphones 414px*/

@media screen and (max-width: 414px) and (max-height: 896px) {
    .buttom-anchor {
        position: absolute;
        left: 0;
    }
}

/* main */

.main {
    display: flex;
    background-color: #151515;
    justify-content: space-around;
    height: 300px;
    color: #FFFFFF;
    padding: 100px 40px;

}

main h1 {
    width: 260px;
    margin-top: 0;
    margin-left: 2px;
    padding-left: 0;
}

.street-address h2 {
    color: #D5966C;
}

.street-address ul {
    margin: 1.25rem 0;
    padding-left: 0;
}

li {
    list-style: none;
}

.address-reference {
    width: 438px;
}

.title-l {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4.375rem;
    line-height: 4.375rem;
    font-weight: 900;
    text-transform: uppercase;
}

.title-s {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.25rem;
    line-height: 2.25rem;
    font-weight: 900;
    text-transform: uppercase;
}

.text-s {
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 300;
}

/*surface pro 7 and tablets 912px*/

@media screen and (max-width: 912px) and (max-height: 1368px) {
    .address-reference {
        width: 24.93rem;
    }

    .gallery {
        max-width: 700px;
    }
}

/*iphone xr and mobiles 414px*/

@media screen and (max-width: 540px) and (max-height: 915px) {
    .main {
        flex-direction: column;
        padding: 5rem 1.875rem;
        height: auto;
    }

    .main h1 {
        width: 22.81rem;
        font-size: 4.06rem;
    }

    .street-address {
        margin-top: 3.125rem;
    }

    .address-reference {
        width: 21.125rem;
    }

}

/* footer */

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #D5966C;
    padding: 100px;
    height: 150px;
}


.footer h2 {
    margin-top: 0;
}

.footer p {
    width: 522px;
    font-weight: 400;
}

.social-media {
    display: flex;
    gap: 25px;
}

.social-media img {
    height: 25px;
}


.social-media img {
    width: 100%;
    filter: brightness(0) saturate(100%);
}

.social-media img:hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(321deg) brightness(106%) contrast(102%);
}




/*nest hub and laptop 1024px*/
@media screen and (max-width: 1024px) and (max-height: 600px) {
    .footer {
        padding: 3.125rem;
    }


    .footer p {
        font-size: 1.187rem;
        width: 28.125rem;
        font-weight: 300;
    }

}

/*surface pro 7 and tablets 912px*/

@media screen and (max-width: 912px) and (max-height: 1368px) {
    .footer {
        padding: 3.75rem;
    }


    .footer p {
        font-size: 1.187rem;
        width: 21.56rem;
    }
}

/*iphone xr and cellphones 414px*/

@media screen and (max-width: 540px) and (max-height: 915px) {
    .footer {
        flex-direction: column;
        padding: 2.18rem;
        height: auto;
    }

    .footer p {
        font-size: 1.125rem;
        margin: 1.56rem 0;
        width: 22.31rem;
    }
}