.buttom-anchor {
    display: flex;
    width: 15rem;
    height: 3.75rem;
}


.buttom {
    display: flex;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 16px;
    text-transform: uppercase;
    font-stretch: extra-expanded;
    font-weight: 600;
    letter-spacing: 0.375rem;
    background-color: #151515;
    border: none;
    color: white;
    width: calc(100% - 2.5rem);
    justify-content: center;
    align-items: center;

}

.buttom-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D5966C;
    width: 2.5rem;
}

.buttom-arrow img {
    width: 0.625rem;
    height: 1.5rem;
}


.buttom-anchor:hover .buttom {
    background-color: #D5966C;
}

.buttom-anchor:hover .buttom-arrow {
    background-color: #151515;
}

/* header section */
.header {
    height: 80vh;
}

.buttom-anchor {
    position: absolute;
    left: 150px;
    z-index: 2;
    text-decoration: none;
}

.map {
    background: url(./assets/desktop/image-map@2x.png);
    height: 548px;
    z-index: 1;
    
    border: solid 1px #151515;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */

main {
    margin: 0 auto;
    display: flex;
    background-color: #151515;
    justify-content: space-around;
    height: 300px;
    color: #FFFFFF;
    padding: 100px 40px;
    
}

main h1 {
    width: 260px;
}

.street-address{
    display: flex;
    flex-direction: column;
}
.street-address h2 {
    color: #D5966C;
}

.street-address ul {
    margin: 1.25rem 0;
}


.address-reference {
    width: 438px;
}

/* footer */

.footer {
    display: flex;
    justify-content: space-around;
    background-color: #D5966C;
    padding: 100px;
}

.footer-logo {
    width: 250px;
}

.footer img {
    width: 100%;
}

.footer p {
    width: 522px;
    font-weight: 400;
}

.social-media {
    display: flex;
    gap: 25px;
}

.social-media img {
    height: 25px;
}

.social-media img {
    width: 100%;
    filter: brightness(0) saturate(100%);
}

.social-media img:hover {
    filter: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(0%) hue-rotate(321deg) brightness(106%) contrast(102%);
}

/* global */
